PROJET : Dashboard d’analyse des ventes (Business Intelligence)

Objectif métier

Aider une entreprise à :

Comprendre l’évolution de ses ventes et bénéfices

Identifier les produits performants et non rentables

Décider où investir et quoi arrêter

1 Données

Données de Kaggle : SuperStore Sales DataSet ( https://www.kaggle.com/datasets/saadharoon27/superstore-dataset)

2 Téléchargement et exploration des données

In [3]:
import pandas as pd

In [2]:
df= pd.read_csv("C:/Users/nimat/Desktop/Projets/Projet1/DataSet/SuperStore_Sales_Dataset.csv")
#df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5901 entries, 0 to 5900
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row ID+O6G3A1:R6  5901 non-null   int64
 1   Order ID          5901 non-null   object
 2   Order Date        5901 non-null   object
 3   Ship Date         5901 non-null   object
 4   Ship Mode         5901 non-null   object
 5   Customer ID       5901 non-null   object
 6   Customer Name     5901 non-null   object
 7   Segment           5901 non-null   object
 8   Country           5901 non-null   object
 9   City              5901 non-null   object
 10  State             5901 non-null   object
 11  Region            5901 non-null   object
 12  Product ID        5901 non-null   object
 13  Category          5901 non-null   object
 14  Sub-Category      5901 non-null   object
 15  Product Name      5901 non-null   object
 16  Sales             5901 non-null   float64
 17  Quantity          5901 non-null   int64
 18  Profit            5901 non-null   float64
 19  Returns           287 non-null    float64
 20  Payment Mode      5901 non-null   object
 21  ind1              0 non-null      float64
 22  ind2              0 non-null      float64
dtypes: float64(5), int64(2), object(16)
memory usage: 1.0+ MB

3 Nettoyage et préparation des données
 - Convertir les dates
 - Vérifier les valeurs manquantes
 - Vérifier les doublons

In [ ]:
#Convertir Order Date en Date